@{
    ViewBag.Title = "Login Failure";
}

<hgroup>
    <h2 style="text-align:center">@ViewBag.Title.</h2>
    <h3 class="text-danger" style="text-align:center">Unsuccessful login with service.</h3>
</hgroup>
